/* for `asddf` type tags  */
code {
	@apply bg-primary/5 px-[0.3rem] py-[0.2rem] font-mono text-sm;
}

pre code {
	@apply relative m-0 grid rounded bg-transparent px-[0.3rem] py-[0.2rem] font-mono text-sm;
}

[data-line-number] {
	@apply px-2;
}

[data-theme="default"] {
	display: flex;
}

[data-style="new-york"] [data-style="default"] {
	display: none;
}

[data-style="default"] [data-style="default"] {
	display: flex;
	flex-direction: column;
}

[data-style="new-york"] [data-style="new-york"] {
	display: flex;
	flex-direction: column;
}

[data-style="default"] [data-style="new-york"] {
	display: none;
}

/* TODO: remove because we are not using rehype pretty code  */
[data-rehype-pretty-code-fragment] {
	@apply relative;
}

[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
	counter-reset: line;
	box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
	@apply inline-block min-h-[1.5rem] w-full px-4 py-0.5;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
	@apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	@apply text-xs text-zinc-50/40;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1.8rem;
	margin-right: 1.4rem;
	text-align: right;
}

[data-metadata] .pre-copy-btn {
	@apply top-16 !important;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .with--meta {
	@apply top-16 !important;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
	@apply bg-zinc-900;
}

[data-rehype-pretty-code-title] {
	@apply mt-2 px-4 pt-6 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
	@apply mt-2;
}
